<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.midtrans.sdk.uikit">

    <application>

        <activity
            android:name=".internal.presentation.SuccessScreenActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name=".internal.presentation.ErrorScreenActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name=".internal.presentation.banktransfer.BankTransferListActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".internal.presentation.banktransfer.BankTransferDetailActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".internal.presentation.loadingpayment.LoadingPaymentActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name=".internal.presentation.paymentoption.PaymentOptionActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".internal.presentation.creditcard.CreditCardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".internal.presentation.creditcard.SavedCardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>